<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNcVFq_DN-iFlnfni0JN8-N87eC4Tx8xg</string>
	<key>GCM_SENDER_ID</key>
	<string>606304150538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.SuicoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-2bea6</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-2bea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606304150538:ios:79486a7e8ca59963eaabf3</string>
</dict>
</plist>